:root{
    --cor-fundo: #000000 ;
    --cor-principal: #7d858a9d ;
    --cor-secundaria: #212333; 
    --cor-destaque: #2a69f16c;
    --cor-texto: #fffafa;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}